* {
  font-family: 'gloock', 'Sans Serif', 'Gill Sans MT', 'Trebuchet MS';
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'gloock';
  src: url('./fonts/Gloock-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'didot';
  src: url('./fonts/GFSDidot-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'jost';
  src: url('./fonts/Jost-VariableFont_wght.ttf') format('truetype');
}
